EXPO_PUBLIC_API_URL=https://smarthas.onrender.com

# se fizer alguma alteração no backend, descomente a linha abaixo e comente a linha acima para testar localmente
# EXPO_PUBLIC_API_URL=http://SEU_IP_LOCAL:8080